body {
  background-color: #090a0e;
  color: white;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #0f1014;
  padding: 15px;
}
.movie-cover {
  width: 100%;
}
.header {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  /* height: 300px; */
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-placeholdre{
  height: 249px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.max-center{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}